.coisa{
    width: 100%;
    height: 100%;
    background-color: #40916C;
}

.img1{
    width: 100%;
    height: 30vw;
}

.img2{
    width: 100%;
    height: 30vw;
}

.img3{
    width: 100%;
    height: 30vw;
}

.carousel-indicators {
    margin-bottom: 12%;
}
